<div class="cmd cursor tooltipstered" style="position : absolute;right : 30px;top : 3px;font-size :1em;" data-type="action" data-subtype="other" data-cmd_id="#id#" data-cmd_uid="#uid#" title="Allumer/Eteindre Lumières">
	<div class="content-xs widthx2">
		<!-- <span class="cmdName #hide_name#">#valueName#</span>
		<label class="binarySwitch">
		  <input type="checkbox" class="binarySwitch"> -->
		  <span class="action iconLight#id#"></span>
		<!-- </label> -->
	  </div>
	<script>

		jeedom.cmd.update['#id#'] = function(_options) {
			$(".iconLight#id#").empty();
			var cmd = $('.cmd[data-cmd_id=#id#]')
			if (_options.display_value == '1' || _options.display_value == 1 || _options.display_value == '99' || _options.display_value == 99 || _options.display_value == 'on') {
				if (jeedom.cmd.normalizeName('#name#') == 'on') {
					cmd.hide()
				} else {
					cmd.show()
				}
				$(".iconLight#id#").append("<i class='fas fa-lightbulb'></i>").css("color", "lime");

			} else if (_options.display_value == '0' || _options.display_value == 0 ||  _options.display_value == 'off') {
				if (jeedom.cmd.normalizeName('#name#') == 'off') {
					cmd.hide()
				} else {
					cmd.show()
				}
				$(".iconLight#id#").append("<i class='fas fa-lightbulb'></i>").css("color", "white");
			}
		}
	
		jeedom.cmd.update['#id#']({display_value:'#state#'})
	
		$('.cmd[data-cmd_uid=#uid#] .action').off().on('click', function (event) {
		  event.preventDefault()
		  event.stopPropagation()
		  jeedom.cmd.execute({id: '#id#'})
		})
	  </script>
</div>
