<style>
    table.bbox_table {
        border-collapse: collapse;
    }

    td.dataListe#id# {
        border: 1px solid white;
        padding: 5px;
    }

    th.dataListe#id# {
        border: 1px solid white;
        background:rgba(0,0,0,0.2);
        text-align:center;
    }

    tr.dataListe#id#:nth-child(odd){
        background:rgba(0,0,0,0.1);
    }

</style>
<div style="min-width:50px;min-height:50px;" class="cmd tooltips cmd-widget container-fluid" data-cmd_id="#id#" data-type="info" data-subtype="other">
    <center>
        <span class='cmdName' style="font-weight: bold;">#name_display#</span>
        <span class="action" id="dataListe#id#"></span>
        <!--<div id="dataListe#id#"></div>-->
    </center>
    <script>
        var dataToHtml = '', data = '#state#', i = 1;
        if (/^\[(\[(,?".*")+\],?)+\]$/.test(data)) {
            dataToHtml += '<table class="bbox_table"><tr><th class="dataListe#id#">type</th><th class="dataListe#id#">N°</th><th class="dataListe#id#">Durée</th><th class="dataListe#id#">Date</th></tr>';
            $($.parseJSON(data)).each(function () {
                dataToHtml += '<tr id="log' + i + '" class="dataListe#id#">';
                dataToHtml += '<td class="dataListe#id#">' + this[0] + '</td>';
                dataToHtml += '<td class="dataListe#id#">' + this[1] + '</td>';
                dataToHtml += '<td class="dataListe#id#">' + this[2] + '</td>';
                dataToHtml += '<td class="dataListe#id#">' + this[3] + '</td></tr>';
                i++;
            });
            dataToHtml += '</table>';
        }
        $('#dataListe#id#').append(dataToHtml);
    </script>
</div>