<div class="cmd cmd-widget cursor tooltipstered" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="Afficher le journal des appels">
        <div class="title">
                <div class="cmdName">#name_display#</div>
        </div>
        <div class="content-sm">
                <span class="iconCmd"  id="iconCmd#id#"></span>
        </div>
        <div>
                <span class="iconCmd">#state#</span>
        </div>
        <script>
                //var temp = #state#
                $('#iconCmd#id#').append('<i class="icon techno-phone69"></i>');
                // $('#iconCmd#id#').parent().append('<div style="font-weight: bold;font-size: 20px;" >'+temp+'</div>');
                $('#iconCmd#id#').on('click', function() {
                        $('#md_modal2').dialog({
                        title: "Liste des appels",
                        width : 420,
                        height: 550,
                        position: {my: "center", at:"center", of: window }
                        });

                        $('#md_modal2').load('index.php?v=d&plugin=bbox_sagemcom&modal=calllog&id='+ #id#).dialog('open');
                });
        </script>
</div>