<div class="cmd cmd-widget cursor" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-version="#version#">
	<div class="title">
		<div class="cmdName">#name#</div>
	</div>
	<div class="content-sm">
		<span style="font-size: 2.5em;" class="iconInternet"></span>
	</div>
	<script>
		
		jeedom.cmd.update['#id#'] =function(_options){
			$(".iconInternet").empty();
			var cmd = $('.cmd[data-cmd_id=#id#]');
			cmd.attr('title','{{Date de valeur}} : '+_options.valueDate+'<br/>{{Date de collecte}} : '+_options.collectDate)
			if (_options.display_value == '1') {
				cmd.find('.iconInternet').append("<i class='fa fa-cloud'></i>").css('color','lime');
			}else {
				cmd.find('.iconInternet').append("<i class='fa fa-cloud'></i>").css('color','red');
			}
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
		
	</script>
</div>
